:root {
    --col-primary: rgb(197, 94, 63);
}
html, body {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #353535;
}

main {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

nav {
    background-color: brown;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    display: block;
    padding: 1.2em;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(138, 34, 34);
}

form {
    padding: 1em;
}
form div {
    margin-bottom: 1em;
}
form label {
    display: block;
    margin-bottom: .4em;
}

form input, form textarea, form select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #dfdfdf;
    border-radius: 0.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    resize: vertical;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid brown;
    color: white;
    background-color: brown;
    font-size: 1em;
    padding: 1em;
}